body{
  font-family: 'Recursive', sans-serif;
}

/*Navbar*/

#navbox{
  display: block;
  background-color: rgb(65, 65, 65);
  overflow: hidden;
  width: 100%;
}

#navbox ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  float: left;
  left:50%;
}

#navbox ul li{
  float: left;
  position:relative;
  right: 50%;
}

#navbox ul li a{ 
  display: block;
  text-decoration: none;
  color:white;
  float: left;
  padding: 10px 20px;
}

#navbox ul li a:hover{
  background-color: black;  
}

#navbar #on a{
  text-decoration: underline;
}

/* Canada*/
#ca_content{
  margin-top: 5%;
  margin: 1% auto;
  text-align: center;
  width: 45%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(175, 255, 255);
  box-shadow: 10px 10px rgb(87, 87, 87);
  margin-bottom: 5%;
  border: 1px solid black;
}
#canada .heading{
  font-weight: bold;
}
#canada{
  background-color: lightcyan;
  color:black;
  text-align: center;
}

h1{
  font-size: 100px;
  padding: 20px 20px 20px 20px;
}
#canada h2{
  text-decoration: underline;
  font-weight: bold;
}
.title{
    padding: 10px 10px 10px 10px;
}
#canada p{
  width: 900px;
  margin: 0 auto;
}

/*About Me*/
#index{
  background: lightcyan;
}

#home_heading{
  width: 50%;
  background-color: rgb(134, 218, 218);
}
#about_content{
  height: auto;
  width: 80%;
  margin: 0 auto;
  background-color:rgb(166, 248, 248)
}

#about_content h2{
  padding-top: 5px;
  padding-bottom: 5px;
}
#home_heading{
  width:100%;
  margin: 0 auto;
  text-align:center;
  padding:0;
}
#intro_box{
  float:left;
  width: 40%;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 265px;
  text-align: center;
}

#interests_box{
  width:50%;
  float:left;
  overflow: hidden;
}

#games_box{
  height: 50%;
}

#top{
  height: 45%;
}
.pic{
  height: 110px;
}

#movie_left{
  width: 50%;
  float:left;
}

#movie_right{
  float:right;
  width: 50%;
}
#end{
  width: 100%;
  text-align: center;
  margin: 0 auto;
  clear: both;
  background-color: rgb(134, 218, 218);
}

#end h2, p{
  padding-top: 2px;
  padding-bottom: 2px;
}
#interests_box{
    text-align: center;
}
#interests_box p{
  font-size: 10px;
}

/* Resume page */
#resume{
  background-color: lightcyan;
}

#resume_content{
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

#resume_content h2{
  padding-top: 10px;
  padding-bottom: 5px;
}

#main_content h2{
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: bold;
}

#resume_content h4{
  text-decoration: underline;
  padding-top: 5px;
  padding-bottom: 5px;
  
}

#resume_image{
  padding-top: 10px;
  height: 200px;
}

#resume_content p{
  padding-bottom: 5px;
}

#personal_info{
  float:left;
  width: 200px;
}

#main_content{
  width: 760px;
  float:left;
}
