body{
  font-family: 'Recursive', sans-serif;
}

img{
  height:200px;
}

/*Navbar*/

#navbox{
  display: block;
  background-color: rgb(65, 65, 65);
  overflow: hidden;
  width: 100%;
}

#navbox ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  float: left;
  left:50%;
}

#navbox ul li{
  float: left;
  position:relative;
  right: 50%;
}

#navbox ul li a{ 
  display: block;
  text-decoration: none;
  color:white;
  float: left;
  padding: 10px 20px;
}

#navbox ul li a:hover{
  background-color: black;  
}

#navbar #on a{
  text-decoration: underline;
}

/* Canada*/
#ca_content{
  margin-top: 35px;
}
#canada .heading{
  font-weight: bold;
}
#canada{
  background-color: rgb(255, 0, 51);
  color:white;
  text-align: center;
}
#ca_heading{
  margin-top:50px;
}
h1{
  font-size: 100px;
  padding: 20px 20px 20px 20px;
}
#canada h2{
  text-decoration: underline;
  font-weight: bold;
}
.title{
    padding: 10px 10px 10px 10px;
}
#canada p{
  width: 900px;
  margin: 0 auto;
}

/*About Me*/
#selfie{
  float:left;
  display: inline;
}
#intro{
  float:left;
  width:50%;
  text-align: left;
  padding: 0px 10px 10px 10px;
}
#info{
  display:block;
  clear:left;
  padding: 10px 10px 10px 10px;
  margin: 0 auto;
  text-align: center;
}
#my_info{
  margin: 0 auto;
}
h2{
  font-weight: bold;
}
td{
  border: 1px solid black;
  text-align: center;
}
#top{
  width:50%;
  text-align: left;
  padding-top: 10px;
}
#left{
  width:50%;
  float: left;
  text-align: center;
  background: lightcyan;
}
#right{
  float:right; 
  width: 50%;
  list-style-type: initial;
  text-align: center;
  background-color:lightcyan;
}
#in_heading{
  padding: 5% 5% 5% 5%;
  margin-bottom: 1%;
  text-align: center;
  background: lightcyan;
  margin: 0 auto;
}
#in_content{
  background-color:lightcyan;
}
div#top{
  margin: 0 auto;
}

#index{
  background: lavender;
}
#end, #interest_title{
  text-align: center;
  width: 100%;
}


/* Resume page */
#resume_content{
  width: 960px;
  margin: 0 auto;
}

#resume_content h2{
  padding-top: 10px;
  padding-bottom: 5px;
}

#personal_info #education_list ul{
  list-style:disc;
}
#main_content h2{
  padding-top: 10px;
  padding-bottom: 5px;
}

#resume_content h4{
  text-decoration: underline;
  padding-top: 5px;
  padding-bottom: 5px;
}

#resume_image{
  padding-top: 10px;
}

#resume_content p{
  padding-bottom: 5px;
}

#personal_info{
  float:left;
  width: 200px;
}

#main_content{
  width: 760px;
  float:left;
}
